body {
  margin: 0;
  background: #eeeeee;
  font-family: "Cascadia Code", "Consolas", "monospace", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
